<div>
	<ui-form>
		<ui-h3>Basic</ui-h3>
		<ui-date label="Due Date" placeholder="Please enter due date" v-model="dueDate"></ui-date>
		<ui-field label="Due Date Result">{{dueDateString}}</ui-field>

		<ui-h3>Range</ui-h3>
		<ui-field kind="inline">
			<ui-date label="From" id="start-date" placeholder="Start" v-model="startDate" rangeEnd="#end-date"></ui-date>
			<ui-date label="To" id="end-date" placeholder="End" v-model="endDate" rangeStart="#start-date"></ui-date>			
		</ui-field>
		<ui-field label="Result">
			From {{startDate | ui-date}} To {{endDate | ui-date}}
		</ui-field>
	</ui-form>
</div>