<div>
	<div>
		<div v-html="readme"></div>
		<div class="ui divider"></div>
	</div>

	<ui-tab>
		<ui-tab-item caption="API">

			<ui-message class="warning" v-if="!api_props.length && !api_methods.length">
				API is not available
			</ui-message>

			<div v-if="api_props.length">
				<p></p>
				<ui-h4>Props</ui-h4>
				<table class="ui very basic striped table">
					<thead>
						<tr>
							<th class="three wide">Name</th>
							<th class="three wide">Type</th>
							<th class="two wide">Default</th>
							<th class="eight wide">Description</th>
						</tr>
					</thead>
					<tr v-for="p in api_props">
						<td>{{p.name}}</td>
						<td>{{p.type}}</td>
						<td>{{p.default}}</td>
						<td>{{p.description}}</td>
					</tr>
				</table>
			</div>

			<div v-if="api_methods.length">
				<p></p>
				<ui-h4>Methods</ui-h4>
				<table class="ui very basic striped table">
					<thead>
						<tr>
							<th class="three wide">Name</th>
							<th class="three wide">Returns</th>
							<th class="three wide">Params</th>
							<th class="seven wide">Description</th>
						</tr>
					</thead>
					<tr v-for="p in api_methods">
						<td>{{p.name}}</td>
						<td>{{p.type}}</td>
						<td>
							<div class="ui list">
								<div class="item" v-for="prm in p.params">
									<div class="content">
										<div class="header">{{prm.name}}: {{prm.type}}</div>
										<div class="description">{{prm.description}}</div>
									</div>
								</div>
							</div>
						</td>
						<td>{{p.description}}</td>
					</tr>
				</table>
			</div>
		</ui-tab-item>
		<ui-tab-item caption="Demo">
			<template v-if="examples && examples.length">				
				<ui-menu-horizontal class="secondary pointing">
					<ui-menu-item v-for="e in examples" :to="e.path">{{e.text}}</ui-menu-item>
				</ui-menu-horizontal>
				<router-view></router-view>
			</template>
			<ui-message class="warning" v-else>
				Demo is not available
			</ui-message>

		</ui-tab-item>

	</ui-tab>


</div>