div
  ui-h4 Vertical Menu
  ui-menu-vertical
    ui-menu-item(@click='clicked') Home
    ui-menu-item Messages
    ui-menu-item Friends
  ui-h4 With Header
  ui-menu-vertical
    .item
      .header Header
      .menu
        ui-menu-item(@click='clicked') Home
        ui-menu-item Messages
        ui-menu-item Friends
