div
  ui-form
    ui-field(label='Result') {{dateTimeString}}
    ui-date-time(label='Now?', placeholder='Please enter date time', v-model='dateTime')
    ui-date-time(label='Now?', placeholder='Please enter date time', v-model='dateTime', format='DD/MM/YYYY HH:mm:SS')
