div
  ui-input(name="firstName", label='First Name', placeholder='Please enter first name', v-model='firstName')
  ui-input(name="lastName", label='Last Name', placeholder='Please enter last name', v-model='lastName')
  ui-input(name="email" label='Email', placeholder='Please enter email address', v-model='email')
  ui-input(name="street" label='Street Address', placeholder='Please enter street address', v-model='street')
  ui-dropdown(name="country" label='Country', v-model='country', placeholder='Please enter country', :search="true")
    ui-dropdown-item(v-for='c in countries', :value='c.id') {{c.name}}
  ui-numeric(name="age" label='Age', v-model='age', :integer='true')
  ui-date(name="dob", label='Date of birth', v-model='dob')
  ui-currency(name="salary", label='Salary', v-model='salary')
  ui-checkbox(name="agree" label='Terms and conditions', v-model='agree') I agree to the terms and conditions
  ui-field(label='Result:', kind='inline') {{firstName}}
  ui-button.submit Submit
  .ui.error.message
  ui-modal(ref="message") Success!