div
  ui-h4 Horizontal Menu
  ui-menu-horizontal
    ui-menu-item Editorials
    ui-menu-item Reviews
    ui-menu-item Upcoming Events
  ui-menu-horizontal
    ui-menu-item Editorials
    ui-menu-item Reviews
    ui-menu-item Upcoming Events
    .right.menu
      .item
        .ui.icon.input
          input(type='text', placeholder='Search...')
          i.search.link.icon
      a.ui.item
        | Logout
