#home
	.ui.middle.aligned.center.aligned.grid
		.column
			img(src=require('../../assets/logo-home.png'))
			.ui.header
				| UI components made with Semantic UI, VueTyped and friends
			h2
				router-link(to="doc")
					| explore 
				| |
				a(href="https://github.com/vue-typed/vue-typed-ui")
					i.icon.github