div
  ui-tab
    ui-tab-item(caption='Tab 1') Contents of Tab 1
    ui-tab-item(caption='Tab 2') Contents of Tab 2
  ui-tab(kind='menu')
    ui-tab-item(caption='Tab A') Contents of Tab A
    ui-tab-item(caption='Tab B') Contents of Tab B
  ui-tab(kind='pointing')
    ui-tab-item(caption='Tab A') Contents of Tab A
    ui-tab-item(caption='Tab B') Contents of Tab B
