<ui-modal v-on:approve="save" v-on:deny="reset" :closable="false">

	<span slot="header"><i class="icon setting"></i> Settings</span>
	<ui-form>
		<ui-dropdown v-model="dateFormat" label="Date Format" kind="inline">
			<ui-dropdown-item v-for="f in dateFormats" :value="f">{{f}}</ui-dropdown-item>
		</ui-dropdown>
		<ui-dropdown v-model="timeFormat" label="Time Format" kind="inline">
			<ui-dropdown-item v-for="f in timeFormats" :value="f">{{f}}</ui-dropdown-item>
		</ui-dropdown>
		<ui-segment>
			<ui-h4>Numeric Settings</ui-h4>
			<ui-fields-group :wide="2">
		<ui-field>
			<ui-input kind="inline" label="Group Separator" v-model="groupSeparator"></ui-input>
			<ui-input kind="inline" label="Decimal Separator" v-model="decimalSeparator"></ui-input>
			<ui-input kind="inline" label="Decimal Places" v-model="decimalPlaces"></ui-input>
		</ui-field>
		<ui-field>
			<ui-input kind="inline" label="Sign" v-model="sign"></ui-input>
			<ui-input kind="inline" label="Min" v-model="min"></ui-input>
			<ui-input kind="inline" label="Max" v-model="max"></ui-input>
		</ui-field>
	</ui-fields-group>
		</ui-segment>
	</ui-form>
	<span slot="actions">
		<ui-button @click="save" class="positive">Apply</ui-button><ui-button class="deny">Cancel</ui-button>
	</span>
</ui-modal>