<ui-modal v-on:approved="save" v-on:denied="reset">

	<span slot="header"><i class="icon setting"></i> Settings</span>
	<ui-form>
		<ui-dropdown v-model="value.dateFormat" label="Date Format" kind="inline">
			<ui-dropdown-item v-for="f in dateFormats" :value="f">{{f}}</ui-dropdown-item>
		</ui-dropdown>
		<ui-dropdown v-model="value.timeFormat" label="Time Format" kind="inline">
			<ui-dropdown-item v-for="f in timeFormats" :value="f">{{f}}</ui-dropdown-item>
		</ui-dropdown>
		<ui-segment>
			<ui-h4>Numeric Settings</ui-h4>
			<numeric-settings-page v-model="value.numeric"></numeric-settings-page>
		</ui-segment>
	</ui-form>
	<span slot="actions">
		<ui-button @click="save" class="positive">Apply</ui-button><ui-button class="deny">Cancel</ui-button>
	</span>
</ui-modal>