<div>
	<ui-fields-group :wide="2">
		<ui-field>
			<ui-input kind="inline" label="Group Separator" v-model="value.groupSeparator"></ui-input>
			<ui-input kind="inline" label="Decimal Separator" v-model="value.decimalSeparator"></ui-input>
			<ui-input kind="inline" label="Decimal Places" v-model="value.decimalPlaces"></ui-input>
		</ui-field>
		<ui-field>
			<ui-input kind="inline" label="Sign" v-model="value.sign"></ui-input>
			<ui-input kind="inline" label="Min" v-model="value.min"></ui-input>
			<ui-input kind="inline" label="Max" v-model="value.max"></ui-input>
		</ui-field>
	</ui-fields-group>
</div>