div
	p
		ui-button(@click='sample1') A basic message
	p
		ui-button(@click='sample2') A title with a text under
	p
		ui-button(@click='sample3') A success message!
	p
		ui-button(@click='sample4') A warning message, with a function attached to the "Confirm"-button...
	p
		ui-button(@click='sample5') ... and by passing a parameter, you can execute something else for "Cancel".
	p
		ui-button(@click='sample6') A message with a custom icon
	p
		ui-button(@click='sample7') An HTML message
	p
		ui-button(@click='sample8') A message with auto close timer
	p
		ui-button(@click='sample9') A replacement for the "prompt" function
	p
		ui-button(@click='sample10') With a loader (for AJAX request for example)
