<div>
	<ui-form>
		<ui-segment>
			<ui-h3>Standard</ui-h3>
			<ui-checkbox v-model="checked">{{checkedStatus}}</ui-checkbox>
			<ui-checkbox kind="toggle" v-model="checked">{{checkedStatus}}</ui-checkbox>
			<ui-checkbox kind="slider" v-model="checked">{{checkedStatus}}</ui-checkbox>

			<ui-field kind="inline">
				<ui-checkbox v-model="checked" :enabled="enabledToggle">{{enabledToggleStatus}}</ui-checkbox>
				<ui-checkbox v-model="enabledToggle">{{enabledToggleText}}</ui-checkbox>
			</ui-field>

			<ui-field label="Checked value:">
				{{checked}}
			</ui-field>
		</ui-segment>

		<ui-segment>
			<ui-h3>Value</ui-h3>
			<ui-checkbox v-model="checkedVal" val="yes">Yes/No</ui-checkbox>
			<ui-field label="Value: ">{{checkedVal}}</ui-field>
		</ui-segment>

		<ui-segment>
			<ui-h3>Array Value</ui-h3>
			<ui-checkbox v-model="checkedNames" val="Jack">Jack</ui-checkbox>
			<ui-checkbox v-model="checkedNames" val="John">John</ui-checkbox>
			<ui-checkbox v-model="checkedNames" val="Mike">Mike</ui-checkbox>
			<ui-field label="Value: ">{{checkedNames}}</ui-field>
			<ui-button v-on:click="checkAllNames">Select All</ui-button><ui-button v-on:click="clearAllNames">Clear All</ui-button>
		</ui-segment>
	</ui-form>
</div>