doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title Awesome App

		// requirement css
		link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css', rel='stylesheet', type='text/css')
		link(href='https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/master/dist/calendar.min.css', rel='stylesheet', type='text/css')
	body

		// main app here
		#app

		// requirement scripts
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js')
		script(src='https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/master/dist/calendar.min.js')