<div>
	<ui-form>
		<ui-h4>
			Standard radio
			<ui-sub-header>That you must define element name for each radio</ui-sub-header>
		</ui-h4>
		<ui-field kind="inline" label="Select foo">
			<ui-field>
				<ui-radio name="foo" :val="0" v-model="foo">0</ui-radio>
			</ui-field>
			<ui-field>
				<ui-radio name="foo" :val="1" v-model="foo">1</ui-radio>
			</ui-field>
			<ui-field>
				<ui-radio name="foo" :val="2" v-model="foo">2</ui-radio>
			</ui-field>
		</ui-field>
		<ui-field label="Selected foo">{{foo}}</ui-field>

		<ui-field kind="grouped" label="Select fruit">
			<ui-field v-for="f in fruits">
				<ui-radio name="fruit" :val="f" v-model="fruit">{{f}}</ui-radio>
			</ui-field>
		</ui-field>


		<ui-h4>
			Grouped radio
			<ui-sub-header>You don't need to define element name for each radio</ui-sub-header>
		</ui-h4>

		<ui-radio-group kind="grouped" label="Another select fruit">
			<ui-radio v-for="f in fruits" :val="f" v-model="fruit">{{f}}</ui-radio>
		</ui-radio-group>


		<ui-field label="Selected fruit">{{fruit}}</ui-field>
	</ui-form>
</div>