.large
  ui-input(label='User Name', v-model='userName')
  ui-input(name='password', label='Password', v-model='password', :password='true')
  ui-input(label='Confirm Password', v-model='passwordConfirm', :password='true')
  ui-button.submit.positive Submit
