div
  ui-form
    ui-field(label='Result') {{timeString}}
    ui-time(label='What time now?', placeholder='Please enter time', v-model='time')
    ui-time(label='What time now?', placeholder='Please enter time', v-model='time', format='HH:mm:SS')
