<div>
	
	<ui-input label="First Name" placeholder="Please enter first name" v-model="firstName"></ui-input>
	<ui-input label="Last Name" placeholder="Please enter last name" v-model="lastName"></ui-input>
	<ui-input label="Email" placeholder="Please enter email address" v-model="email"></ui-input>
	<ui-input label="Street Address" placeholder="Please enter street address" v-model="street"></ui-input>
	<ui-dropdown label="Country" v-model="country" placeholder="Please enter country">
		<ui-dropdown-item v-for="c in countries" :value="c">{{c.name}}</ui-dropdown-item>
	</ui-dropdown>
	<ui-numeric label="Age" v-model="age" :integer="true"></ui-numeric>
	<ui-date label="Date of birth" v-model="dob"></ui-date>
	<ui-currency label="Salary" v-model="salary"></ui-currency>
	<ui-checkbox label="Terms and conditions" v-model="agree">I agree to the terms and conditions</ui-checkbox>

	<ui-field label="Result:" kind="inline">{{firstName}}</ui-field>
	<ui-button class="submit">Submit</ui-button>
	<div class="ui error message"></div>

	<ui-modal id="message">Success!</ui-modal>

</div>